.header {
  width: 100%;
  height: 280px;
  background-image: url("/images/pattern-bg.png");

  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;

  &-title {
    font-size: 32px;
    line-height: 30px;
    font-weight: 500;
    letter-spacing: -0.285714px;
    color: var(--color-White);
    text-transform: capitalize;
    padding-bottom: 31px;
    padding-top: 33px;

    span {
      text-transform: uppercase;
    }
  }

  &-input {
    width: 555px;
    display: flex;
    box-shadow: 0px 50px 50px -25px rgba(0, 0, 0, 0.0983665);

    input {
      width: 100%;
      max-width: 500px;
      border: none;
      padding: 18px 0 18px 24px;
      font-family: "Rubik", sans-serif;
      font-size: 18px;
      line-height: 21px;
      color: var(--color-DarkGray);
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
      cursor: text;

      &:focus {
        color: var(--color-Black);
        outline: none;
      }
    }

    button {
      border: none;
      background: var(--color-Black);
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      padding: 0 26px;
      cursor: pointer;

      &:hover {
        background: var(--color-VeryDarkGray);
      }
    }
  }

  &-information {
    position: absolute;
    top: 200px;
    display: none;
    justify-content: space-around;
    align-items: center;
    max-width: 1110px;
    width: 100%;
    height: 161px;
    border-radius: 15px;
    box-shadow: 0px 50px 50px -25px rgba(0, 0, 0, 0.0983665);
    background: var(--color-White);
    padding: 0 32px;
    z-index: 15;

    &-content {
      display: flex;
      flex-direction: column;
      width: 213px;
    }

    &__line {
      width: 1px;
      height: 75px;
      background: var(--color-Black);
      mix-blend-mode: normal;
      opacity: .15;
    }

    h3 {
      font-weight: bold;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 1.75px;
      text-transform: uppercase;
      color: var(--color-DarkGray);
      padding-bottom: 13px;
    }

    span {
        font-weight: 500;
        font-size: 26px;
        line-height: 30px;
        letter-spacing: -0.232143px;
        color: #2C2C2C;
    }
  }
}
